<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="state" value="true" />
  <!-- <add key="url" value="https://api.goldmedalindia.in:84//api//" />-->
  <add key="url" value="https://api.goldmedalindia.in//api//" />
  <add key="vs:EnableBrowserLink" value="false" />
  <!--Modules.Gold.Media.Azure-->
  <add key="Gold.Media.Azure.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=goldblobtest;AccountKey=22V+3FFMOG0VnVPBkpF1NX5fOrXkUqfdl8pxUWQJd7ioDtpyCixVNRsLTCd5IdTk2a98mj9qdgILqdovbE14Bw==;EndpointSuffix=core.windows.net" />
  <add key="Gold.Media.Azure.ContainerName" value="goldapptest" />
  <add key="Gold.Media.Azure.BasePath" value="goldapp/base/branding" />
  <add key="Gold.Media.Azure.PublicHostName" value="" />
  <!--Modules.Gold.Media.Azure-->
  <add key="finYear" value="21-22"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
 <add key="LocationCookieExpiryDays" value="360"/>
  <add key="EncrptKey" value="4521326597452154"/>
</appSettings>