<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!--<add name="mycon" connectionString="Data Source=DESKTOP-DAGV92I\MSSQL19;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	<add name="myconread" connectionString="DESKTOP-DAGV92I\MSSQL19;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000; applicationintent=readonly;" providerName="System.Data.SqlClient" />-->

    <add name="mycon" connectionString="Data Source=DESKTOP-Q96LTKS;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	<add name="myconread" connectionString="DESKTOP-Q96LTKS;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000; applicationintent=readonly;" providerName="System.Data.SqlClient" />



	<!--<add name="mycon" connectionString="Data Source=DESKTOP-COE7ME8;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="myconread" connectionString="DESKTOP-COE7ME8;Initial Catalog=GoldmedalBranding; Connection Timeout=3000000; applicationintent=readonly;" providerName="System.Data.SqlClient" />-->

  <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
  <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
</connectionStrings>